MCP server doesn't implement oauth-protected-resource endpoint correctly

### Describe the bug

Based on the document MCP servers should follow the standard to implement oauth-protected-resource endpoint in order to make client to self discover mcp server. 

As model context protocol is a standard way to interact with any client it should follow the protocol strictly. It doesn't require to be specific setup from client when standard is followed. Ref for the flow https://modelcontextprotocol.io/specification/2025-06-18/basic/authorization

### Affected version

remote mcp server

### Steps to reproduce the behavior

1. use mcp client, such as cursor or mcp-remote
2. start oauth flow. 

### Expected vs actual behavior
Expected:
Client should discover the endpoint and direct user to oauth page from /.well-known/oauth-protected-resource
Actual: 
Client can't start oauth flow because /.well-known/oauth-protected-resource endpoint is not implemented but /.well-known/oauth-protected-resource/mcp is implemented. 



The GitHub MCP server implementation of the protected resource metadata is correct based on the Protected Resource Metadata specification. If a protected resource contains a path component, `.well-known/oauth-protected-resource` should be inserted between the host and path component.

See [RFC 9728 Section 3.1](https://www.rfc-editor.org/rfc/rfc9728#name-protected-resource-metadata-)

> If the resource identifier value contains a path or query component, any terminating slash (/) following the host component MUST be removed before inserting /.well-known/ and the well-known URI path suffix between the host component and the path and/or query components. The consumer of the metadata would make the following request when the resource identifier is https://resource.example.com/resource1 and the well-known URI path suffix is oauth-protected-resource to obtain the metadata, since the resource identifier contains a path component:
> 
>    GET /.well-known/oauth-protected-resource/resource1 HTTP/1.1
>    Host: resource.example.com

I'm having the same issue when trying to set up the remote server via OAuth in Cursor (The local token-based stdio server works correctly locally).

Same issue, can't get OAuth workflow to trigger in cursor. Can't even get hard coding the header token working with a PAT:

```json
"GitHub": {
    "url": "https://api.githubcopilot.com/mcp/",
    "headers": {
      "authorization_token": "Bearer ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    }
}
```

[This PR](https://github.com/modelcontextprotocol/typescript-sdk/pull/733) should correct the Typescript SDK to use the correct endpoint, which will then trickle down to the various client implementations.

@ben-vargas the header is not correct. The correct header for Cursor is `Authorization`

```json
"GitHub": {
    "url": "https://api.githubcopilot.com/mcp",
    "headers": {
      "Authorization": "Bearer ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    }
}
```

The `authorization_token` example is for Claude Code. Because of the differing configurations across various clients, the Readme mentions that you should consult your client for the exact configuration

> Note: The exact configuration format may vary by host. Refer to your host's documentation for the correct syntax and location for remote MCP server setup.

We are looking at adding more docs for specific clients in the future.